body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('img/fondo.jpg') ;
}


.logo {
    width: 50px;
    margin-bottom: 10px;
}
input, select, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ddd;
    font-size: 16px;
}
button {
    background: #ff5733;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}
button:hover {
    background: #e04e2f;
}
.registro {
   flex-direction: row;
   display: flex;
}