.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000; 
    padding: 15px 40px 10px 20px; 
    border-bottom: 2px solid #ff5733;
    width: 100%; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; 
}
.logo-header {
    width: 100px; 
    height: auto;
    margin-right: 15px;
}

.header h1 {
    font-size: 24px; 
    color: white; 
    margin: 0;
    flex-grow: 1;
}
.logout-button {
    background: #ff5733;
    color: white;
    border: none;
    width: 10%;
    padding: 10px 15px;
    border-radius: 8px;
    margin-right: 30px; 
}

.logout-button:hover {
    background: #ffffff;
    color: #ff5733;
}
